<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.elimu.analytics">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="${applicationId}.provider.READ" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventListActivity" />
        <activity android:name=".language.SelectLanguageActivity" />

        <receiver android:name=".receiver.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.AnalyticsEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.ANALYTICS_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WordLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.WORD_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WordAssessmentEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.WORD_ASSESSMENT_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NumberLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.NUMBER_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NumberAssessmentEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.NUMBER_ASSESSMENT_EVENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.LetterSoundAssessmentEventProvider"
            android:authorities="${applicationId}.provider.letter_sound_assessment_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.LetterSoundLearningEventProvider"
            android:authorities="${applicationId}.provider.letter_sound_learning_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.WordAssessmentEventProvider"
            android:authorities="${applicationId}.provider.word_assessment_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.WordLearningEventProvider"
            android:authorities="${applicationId}.provider.word_learning_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.NumberAssessmentEventProvider"
            android:authorities="${applicationId}.provider.number_assessment_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.NumberLearningEventProvider"
            android:authorities="${applicationId}.provider.number_learning_event_provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name=".provider.VideoLearningEventProvider"
            android:authorities="${applicationId}.provider.video_learning_event_provider"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
