<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ai.elimu.analytics">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AnalyticsApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.ScreenshotJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".service.ServerSynchronizationJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".receiver.StudentUpdatedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.STUDENT_UPDATED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ApplicationOpenedEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.APPLICATION_OPENED_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.LetterLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.LETTER_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NumberLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.NUMBER_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.VideoLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.VIDEO_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.StoryBookLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.STORYBOOK_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ShapeLearningEventReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ai.elimu.intent.action.SHAPE_LEARNING_EVENT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>